<html>
    <body>
    <div>
        <form action = "{{ url_for('driverupdate')}}" method="POST">
            <h1> Change Password </h1>
            Drive_id<br>
            <input type = "text" name = "Drive_id" /></br>

            Old Password<br>
            <input type = "text" name = "oldpassword" /></br>

            New Password<br>
            <input type = "text" name = "newpassword" /></br>

            <input type = "Submit" value = "Delete" /> <br>
        </form>
    </div>>
    </body>>
</html>>